Переменная df содержит DataFrame.

Переменная filter_names содержит список имён столбцов по которым происходит фильтрация

Переменная filter_values содержит список из 2 значений по которым происходит фильтрация. 1 значение проверяется на равенство. 2 значение должно быть меньше указанного в фильтре.

Выведите только те строки датафрейма, которые удовлетворяют условиям обоих фильтров.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) 
filter_names = ["animal", "age"]
filter_values = ["cat", 3]

In [8]:
names = df[filter_names[0]] == filter_values[0]
values = df[filter_names[1]] < filter_values[1]
df[names & values]

  animal  age    name  visits priority
a    cat  2.5  Murzik       1      yes
f    cat  2.0   Vaska       3       no

## Параметры функции read csv

1) Имя файла

2) **sep** - тот знак, который в нашем файле разделяет данные. Если у вас csv файл, то запятая ставится по умолчанию, и тогда этот параметр можно пропустить. Если вы работаете с текстовым файлом, загляните в него, возможно данные разделены пробелом ' ' или табом '\t'.

3) **header** - когда мы указываем значение **None** метками столбцов становятся цифры. Если не указывать header, столбцы обозначатся первой строкой из файла.

4) **nrows** - число строк, которое мы хотим считать.

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv', sep = ',')
df

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1

Удобная функция для быстрого просмотра первых строк таблицы:

In [7]:
df.head(4)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3

Функция для быстрого просмотра пяти последних строк:

In [8]:
df.tail(3)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
7,223488,FL,CLAY COUNTY,328500.0,328500.0,328500.0,328500.0,328500.0,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.0,315000.0,315000.0,315000.0,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.0,705600.0,705600.0,705600.0,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1

Информация о содержимом столбцов

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   policyID            10 non-null     int64
 1   statecode           10 non-null     object
 2   county              10 non-null     object
 3   eq_site_limit       10 non-null     float64
 4   hu_site_limit       10 non-null     float64
 5   fl_site_limit       10 non-null     float64
 6   fr_site_limit       10 non-null     float64
 7   tiv_2011            10 non-null     float64
 8   tiv_2012            10 non-null     float64
 9   eq_site_deductible  10 non-null     int64
 10  hu_site_deductible  10 non-null     float64
 11  fl_site_deductible  10 non-null     int64
 12  fr_site_deductible  10 non-null     int64
 13  point_latitude      10 non-null     float64
 14  point_longitude     10 non-null     float64
 15  line                10 non-null     object
 16  construction        10 non-null     object
 17  point_granularity   10 non-null     int64
dtypes: float64(9), int64(5), object(4)
memory usage: 1.5+ KB

Статистика содержимого таблицы

In [10]:
df.describe()

,policyID,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,point_granularity
count,10.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,10.000000,10.000000,10.0,10.0,10.000000,10.000000,10.000000
mean,386127.800000,3.361161e+05,2.347000e+06,3.361161e+05,3.615442e+05,2.347000e+06,2.587525e+06,1411.200000,7743.420000,0.0,0.0,30.086671,-81.706737,1.600000
std,293397.025554,4.228586e+05,5.952952e+06,4.228586e+05,4.077774e+05,5.952952e+06,6.347495e+06,4462.606234,11843.893995,0.0,0.0,0.021743,0.004065,0.966092
min,119736.000000,0.000000e+00,7.952076e+04,0.000000e+00,0.000000e+00,7.952076e+04,8.685448e+04,0.000000,0.000000,0.0,0.0,30.060614,-81.713882,1.000000
25%,181123.750000,0.000000e+00,2.694611e+05,0.000000e+00,4.768110e+04,2.694611e+05,2.510638e+05,0.000000,0.000000,0.0,0.0,30.063411,-81.707703,1.000000
50%,278615.500000,2.528622e+05,4.137300e+05,2.528622e+05,2.846408e+05,4.137300e+05,5.702616e+05,0.000000,0.000000,0.0,0.0,30.095104,-81.707405,1.000000
75%,444448.500000,4.563450e+05,6.579589e+05,4.563450e+05,4.563450e+05,6.579589e+05,9.792367e+05,0.000000,14307.300000,0.0,0.0,30.102224,-81.703966,2.500000
max,995932.000000,1.322376e+06,1.926000e+07,1.322376e+06,1.322376e+06,1.926000e+07,2.061000e+07,14112.000000,35280.000000,0.0,0.0,30.118774,-81.700455,3.000000

Размеры таблицы

In [17]:
print(df.shape) # число строк и число столбцов
print(df.ndim)  # число измерений
print(df.size)  # число элементов
print(df.index, df.columns) # названия столбцов

(10, 18)
2
180
RangeIndex(start=0, stop=10, step=1) Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')