# Строковые переменные

## Содержание

- [Разбор данных](#Разбор-данных)
- [Строковые переменные](#Строковые-переменные)
    - [Основные операции со строками](#Основные-операции-со-строками)
    - [Преобразование типов переменных](#Преобразование-типов-переменных)
    - [Превращение строки в список, split()](#Превращение-строки-в-список,-split())
    - [Задача 1](#Задача-1)
- [Проверка файлов на существование](#Проверка-файлов-на-существование)
- [Условные операторы](#Условные-операторы)
    - [Задача 2](#Задача-2)
- [Задача 3](#Задача-3)

## Разбор данных

Изучим данные в папке scans.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

s = "theta  Epoch  Ene  I0  I04  If4  If4dI0  If3  If3dI0  Seconds  Ihor3 nan"
column_names = s.split()
column_names
df = pd.read_csv(
    "scans/scan511_mono050918.dat", sep=" ", skiprows=1, names=column_names
)
df.head(4)

,theta,Epoch,Ene,I0,I04,If4,If4dI0,If3,If3dI0,Seconds,Ihor3,nan
0,12.864625,92085,8984.858855,78652,-1,338,0.004297,184859,2.350341,0.506,0,NaN
1,12.864375,92085,8984.858855,78667,2,351,0.004462,181513,2.307359,0.506,0,NaN
2,12.864250,92086,8984.858855,78693,-3,259,0.003291,179673,2.283215,0.505,0,NaN
3,12.864000,92087,8984.858855,78681,0,326,0.004143,177011,2.249730,0.506,0,NaN

## Строковые переменные

### Основные операции со строками

Строки в Python используются когда нужно работать с текстовыми данными.

Для создания строк, мы используем парные кавычки '' или "":

In [2]:
s1, s2 = "scan", "500"
print(s1, s2)

scan 500

Для определения длины строки (количества символов), мы используем встроенную функцию len():

In [3]:
len(s1)

4

Операторы + и * можно использовать для строк. Оператор + сцепляет две и более строк. Это называется конкатенацией строк. Оператор * повторяет строку указанное количество раз.

In [4]:
filename = "scan" + ".csv"
print(filename)

print("Hi" * 4)

scan.csv
HiHiHiHi

Для обращения к символу в строке используем квадратные скобки

<img src = 'индексы строк.png' width = 300>

In [ ]:
filename[0]

In [ ]:
filename[-1]

### Преобразование типов переменных

Преобразование строки в число:

In [ ]:
s = "42"
num = int(s)
num

In [ ]:
s = "42"
num = float(s)
num

Преобразование числа в строку:

In [ ]:
s = str(42)
s

### Превращение строки в список, split()

Для строк существует множество методов, которые позволяют менять регистр символов, выполнять поиск и замену символов, удалять лишние пробелы, классифицировать содержимое строки и т.д. 

Нам сегодня пригодится метод **split()** превращающий строку в список.

In [5]:
s = "Simple is better than complex"
words = s.split()
print(words)

['Simple', 'is', 'better', 'than', 'complex']

### Задача 1

Создайте цикл, который генерирует и выводит на печать имена файлов 'scans/scan511_mono050918.dat' в заданном диапазоне номеров. Диапазон номеров задается в переменной scans = range(511, 521).

## Проверка файлов на существование

Возможность проверять, существует ли файл на диске или нет, очень важна для большинства программ Python. Часто, перед тем как вы их загрузите данные из файла, бывает нужно убедиться в том, что файл с данными доступен.

Вызов **os.path.exists()** возвращает **True** или **False** для файлов и папок.

**Логический тип (bool)** - тип данных с двумя возможными значениями: True (истина) и False (ложь).

Другие возможности модуля os.path: https://pythonworld.ru/moduli/modul-os-path.html

In [2]:
import os.path

file_exists = os.path.exists("scan.csv")
file_exists

True

In [7]:
file_exists = os.path.exists("scan1.csv")
file_exists

False

In [8]:
x = 10
М = x > 5
L = x > 20
print(М)
print(L)

True
False

## Условные операторы

Рассмотрим код. Программа просит пользователя ввести число и проверяет результат ввода. Если число меньше 18, то выводит пользователю текст 'Доступ запрещен', если больше или равно 18, то 'Доступ разрешен':

In [11]:
print("Введите число:")
x = int(input())

if x < 18:
    print("Доступ запрещен")
else:
    print("Доступ разрешен")

Введите число:

 9

Доступ запрещен

Двоеточие (:) в конце строки с инструкцией if сообщает интерпретатору Python, что дальше находится блок команд. В блок команд входят все строки с отступом под строкой с инструкцией if, вплоть до следующей строки без отступа.

Для того, чтобы обеспечить возможность выполнять что-либо, если условие оказалось ложным, мы используем ключевое слово else.

In [12]:
print("ответ на главный вопрос жизни, вселенной и всего такого")
x = input()

if x == "42":
    print("Верно")
else:
    print("Ошибка")

ответ на главный вопрос жизни, вселенной и всего такого

 41

Ошибка

При использовании логических операций необязательно указывать что переменная тождественно равна True:

In [3]:
import pandas as pd

file_exists = os.path.exists("scan.csv")

if file_exists:
    df = pd.read_csv("scan.csv")

df.head(2)

,Pt_No,omega,eh_c01,eh_t01,sl_mon_b_vol,sl_mon_t_vol,lmbd_countsroi1,lmbd_countsroi1_atten,lmbd_countsroi2,lmbd_countsroi2_atten,lmbd_countsroi3,lmbd_countsroi3_atten,dt
0,0,45.461578,15219.0,1.2,0.035312,0.034375,9691.0,9691.0,33221.0,33221.0,80032.0,80032.0,1.225516
1,1,45.462575,14980.0,1.2,0.034844,0.036016,10638.0,10638.0,35458.0,35458.0,80609.0,80609.0,2.472386

### Задача 2

Напишите программу, которая перебирает файлы из папке scans в диапазоне scans = range(560, 580) и выводит имена отсутствующих файлов.

## Задача 3

Рассмотрим содержимое папки scans. В ней находится 61 файл, каждый из них содержит экспериментальные данные из 11 столбцов и 102 строк. Данные были получены при измерении «запрещённого» рефлекса в метаборате меди на линии ID12 синхротрона ESRF в Гренобле (Франция).

Напишите скрипт, который последовательно считывает данные из каждого файла и помещает на один график кривые, используя первые столбцы как значения по оси абсцисс, а седьмые столбцы – как значения по оси ординат.